* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}

.products-container {
  justify-content: space-around;
 
}
.card {
  border-radius: 2px solid black;
}

.product-card {
  /* width:100px;
  height:400px; */
  border-color: black;
}

.div-cantidad {
  display: flex;
  justify-content: space-around;
}

#cart {
  text-align: center;
  justify-content: space-around;
}
 