* {
    margin: 0;
    padding: 0;
  }

.product-card {
  height: 200px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1px;
  border: solid 2px black;
  margin: 10px 100px;

}

.div-cantidad {
    display: flex;
    justify-content: center;
    
}

#cart{
    text-align: center;
}
